@import "src/app/layout/themes/theme1-colors.scss";

@media (max-width: 576px) {
  .section1 h1 {
    padding-top: 20px !important;
    padding-bottom: 0px !important;
    font-size: 24px !important;
    line-height: 2rem !important;
  }
}

.section1 {

  // background-color: rgb(87, 104, 49);
  // background-image: url("~/images/bg1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  min-height: 100vh;
  text-align: center;

  .navbar {
    justify-content: space-between;
    background: none;

    .login-btn {
      color: white;
    }

    .brand,
    .brand:hover {
      color: white;
      text-decoration: none;
    }
  }

  h1 {
    color: white;
    padding: 70px 50px;
    font-size: 50px;
    line-height: 50px;
  }

  .free-trial-card {
    margin-top: 50px;
    margin-bottom: 50px;

    .free-trial-card-content {
      padding: 20px;

      button {
        width: 100%;
      }

      .no-credit-card {
        padding-top: 20px;
      }
    }
  }

  .module-item {
    color: white;
    font-size: 1rem;
    mat-icon {
      font-size: x-large;
    }
  }
}

.features {
  padding-top: 50px;
  padding-bottom: 50px;

  .intro {
    text-align: center;
    padding-bottom: 50px;

    h2 {
      font-size: 3rem;
      color: $primary;
    }
    p {
      font-size: 1rem;
    }
  }

  .feature {
    text-align: center;
    padding: 50px;

    mat-icon {
      color: $primary;
      transform: scale(2);
      margin-bottom: 20px;
    }

    h3 {
      font-weight: bold;
      color: $primary;
      font-size: 24px;
    }

    p {
      text-align: left;
    }
  }

  .feature:hover {
    background-color: #f3f3f3;
    cursor: pointer;

    mat-icon {
      color: $accent;
    }

    h3 {
      color: $accent;
    }
  }

  .call-to-action {
    text-align: center;
    padding: 10px;
    button {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
    }
  }
}

.pricing {
  background-color: $accent3;

  padding-top: 50px;
  padding-bottom: 50px;

  .intro {
    text-align: center;
    padding-bottom: 50px;

    h2 {
      font-size: 3rem;
      color: $primary;
    }
    p {
      font-size: 1rem;
      color: white;
    }
  }

  .price {
    margin-bottom: 20px;
    mat-card-title {
      font-size: 2rem;
      text-align: center;
    }
    .content {
      padding: 20px;
      .users {
        font-size: 1.5rem;
      }
      .cost {
        margin-bottom: 10px;
        span:first-child {
          font-size: 2rem;
        }
        span:last-child {
          font-size: 1rem;
        }
      }

      button {
        width: 100%;
        padding: 5px;
      }

      ul {
        padding: 0;
        li {
          list-style: none;
          font-size: 1rem;
          font-weight: 400;
          padding: 10px 0;

          del {
            color: #b4b3b3;
          }
        }
      }
    }
  }

  .price.basic mat-card-title {
    color: $primary;
  }

  .price.standard mat-card-title {
    color: $accent;
  }

  .price.premium mat-card-title {
    color: red;
  }
}

footer {
  background-color: #252525;
  padding-top: 50px;
  color: white;

  li {
    list-style: none;
    padding: 10px;
    cursor: pointer;
  }

  .navbar {
    background-color: black;
    .container .content {
      display: flex;
      justify-content: space-between;
      .brand,
      .brand:hover {
        color: white;
        text-decoration: none;
      }
    }
  }
}

.test {
  display: flex;
}
.test-color {
  width: 100px;
  height: 100px;
}
