<section class="section1" style="background-image: url('../assets/images/bg1.jpg')">

    <div class="container">


        <mat-toolbar class="navbar">

            <div>
                <a routerLink="" class="brand">mDawem</a>
            </div>

            <div>
                <button mat-button routerLink="../login" class="login-btn">LOGIN</button>
            </div>

        </mat-toolbar>


        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 ">
                <mat-card class="free-trial-card">
                    <mat-card-header>
                        <mat-card-title>
                            Start your free trial today
                        </mat-card-title>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <mat-card-content class="free-trial-card-content">

                        

                        <div class="register-stage1" *ngIf="stage == 1">
                            <mat-radio-group aria-label="Select an option" [(ngModel)]="registrationModel.type">
                                <div class="row">
                                    <div class="col-md-4 user-type individual">
                                        <mat-icon>person</mat-icon>
                                        <mat-radio-button value="1"> I am an individual</mat-radio-button>
                                    </div>
                                    <div class="col-md-4 user-type team">
                                        <mat-icon>group</mat-icon>
                                        <mat-radio-button value="2">We are a team</mat-radio-button>
                                    </div>
                                    <div class="col-md-4 user-type scholar">
                                        <mat-icon>school</mat-icon>
                                        <mat-radio-button value="3">I am a scholar</mat-radio-button>
                                    </div>
                                </div>
                            </mat-radio-group>

                            <button mat-raised-button (click)="next()" color="warn" [disabled]="registrationModel.type == 0">Try for free <mat-icon>
                                    navigate_next</mat-icon></button>


                        </div>

                        <div class="register-stage2" *ngIf="stage == 2" >
                            <form class="example-form">
                                <div class="row">
                                    <div class="col-md-4">
                                        <mat-form-field appearance="outline">
                                            <mat-label>First name</mat-label>
                                            <input matInput [(ngModel)]="registrationModel.name" name="name">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-4">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Surname</mat-label>
                                            <input matInput [(ngModel)]="registrationModel.surname" name="surname">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-4">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Username</mat-label>
                                            <input matInput [(ngModel)]="registrationModel.userName" name="userName">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-6">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Email</mat-label>
                                            <input matInput type="email" [(ngModel)]="registrationModel.emailAddress" name="emailAddress">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-6">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Password</mat-label>
                                            <input matInput type="password" [(ngModel)]="registrationModel.password" name="password">
                                        </mat-form-field>
                                    </div>
                                </div>

                                <button mat-raised-button color="warn" (click)="next()"
                                    [disabled]="!registrationModel.type || !registrationModel.name || !registrationModel.surname || registrationModel.emailAddress == null || registrationModel.password == null">Continue
                                    <mat-icon>navigate_next</mat-icon>
                                </button>

                            </form>

                        </div>

                        <div class="register-stage3" *ngIf="stage == 3" >
                            <form class="example-form">
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Company Name</mat-label>
                                            <input matInput [(ngModel)]="registrationModel.companyName" name="companyName">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-6">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Company size</mat-label>
                                            <mat-select [(value)]="registrationModel.companySize">
                                              <mat-option value="hust me">Just me</mat-option>
                                              <mat-option value="2-20">2-20</mat-option>
                                              <mat-option value="21-100">21-100</mat-option>
                                              <mat-option value="101-1000">101-1000</mat-option>
                                              <mat-option value="1000+">1000+</mat-option>
                                            </mat-select>
                                          </mat-form-field>
                                    </div>

                                    
                                </div>

                                <button mat-raised-button color="warn" (click)="register()"
                                    [disabled]="!registrationModel.companyName || !registrationModel.companySize">Register
                                    <mat-icon>navigate_next</mat-icon>
                                </button>

                            </form>


                        </div>

                        <div class="col-md-12 no-credit-card">
                            No credit card required.
                        </div>
                        <a mat-button class="previous-btn" (click)="previous()" *ngIf="stage > 1"> <mat-icon>navigate_before</mat-icon> Previous</a>

                    </mat-card-content>
                </mat-card>
            </div>

        </div>


    </div>
</section>