/* You can add global styles to this file, and also import other style files */

@import './styles/colors';
@import './styles/override';
@import './styles/directions/ltr.scss';
@import './styles/directions/rtl.scss';

//General Classes 
.color--main{
    color:$main;
}
.color--sec{
    color:$sec;
}
.bg--main{
    background-color: $main;
}
.bg--sec{
    background-color: $sec;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
